<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>15</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.5</string>
	<key>CFBundleVersion</key>
	<string>3.2.5b3</string>
	<key>ProjectName</key>
	<string>AppleBroadcom570X</string>
	<key>SourceVersion</key>
	<string>325002003000000</string>
</dict>
</plist>
