<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAirPortBrcm4311</string>
	<key>CFBundleGetInfoString</key>
	<string>4.2.1, Copyright © 2006–2009 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AirPortBrcm43xx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleAirPortBrcm4311</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>421.91.26</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Broadcom 802.11 PCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPortBrcm43xx</string>
			<key>IOClass</key>
			<string>AirPort_Brcm43xx</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci106b,4e</string>
				<string>pci14e4,4300</string>
				<string>pci14e4,4301</string>
				<string>pci14e4,4302</string>
				<string>pci14e4,4303</string>
				<string>pci14e4,4304</string>
				<string>pci14e4,4305</string>
				<string>pci14e4,4306</string>
				<string>pci14e4,4307</string>
				<string>pci14e4,4308</string>
				<string>pci14e4,4309</string>
				<string>pci14e4,4310</string>
				<string>pci14e4,4311</string>
				<string>pci14e4,4312</string>
				<string>pci14e4,4313</string>
				<string>pci14e4,4313</string>
				<string>pci14e4,4314</string>
				<string>pci14e4,4315</string>
				<string>pci14e4,4316</string>
				<string>pci14e4,4317</string>
				<string>pci14e4,4318</string>
				<string>pci14e4,4319</string>
				<string>pci14e4,431a</string>
				<string>pci14e4,4320</string>
				<string>pci14e4,4321</string>
				<string>pci14e4,4322</string>
				<string>pci14e4,4323</string>
				<string>pci14e4,4324</string>
				<string>pci14e4,4325</string>
				<string>pci14e4,4326</string>
				<string>pci14e4,4327</string>
				<string>pci14e4,4328</string>
				<string>pci14e4,4329</string>
				<string>pci14e4,4330</string>
				<string>pci14e4,4331</string>
				<string>pci14e4,4332</string>
				<string>pci14e4,4333</string>
				<string>pci14e4,4334</string>
				<string>pci14e4,4335</string>
				<string>pci14e4,4336</string>
				<string>pci14e4,4337</string>
				<string>pci14e4,4338</string>
				<string>pci14e4,4339</string>
				<string>pci14e4,4340</string>
				<string>pci14e4,4341</string>
				<string>pci14e4,4342</string>
				<string>pci14e4,4343</string>
				<string>pci14e4,4344</string>
				<string>pci14e4,4345</string>
				<string>pci14e4,4346</string>
				<string>pci14e4,4347</string>
				<string>pci14e4,4348</string>
				<string>pci14e4,4349</string>
				<string>pci14e4,4350</string>
				<string>pci14e4,4351</string>
				<string>pci14e4,4352</string>
				<string>pci14e4,4353</string>
				<string>pci14e4,4354</string>
				<string>pci14e4,4355</string>
				<string>pci14e4,4356</string>
				<string>pci14e4,4357</string>
				<string>pci14e4,4358</string>
				<string>pci14e4,4359</string>
				<string>pci14e4,4360</string>
				<string>pci14e4,4361</string>
				<string>pci14e4,4362</string>
				<string>pci14e4,4363</string>
				<string>pci14e4,4364</string>
				<string>pci14e4,4365</string>
				<string>pci14e4,4366</string>
				<string>pci14e4,4367</string>
				<string>pci14e4,4368</string>
				<string>pci14e4,4369</string>
				<string>pci14e4,4370</string>
				<string>pci14e4,4371</string>
				<string>pci14e4,4372</string>
				<string>pci14e4,4373</string>
				<string>pci14e4,4374</string>
				<string>pci14e4,4375</string>
				<string>pci14e4,4376</string>
				<string>pci14e4,4377</string>
				<string>pci14e4,4378</string>
				<string>pci14e4,4379</string>
				<string>pci14e4,4380</string>
				<string>pci14e4,4381</string>
				<string>pci14e4,4382</string>
				<string>pci14e4,4383</string>
				<string>pci14e4,4384</string>
				<string>pci14e4,4385</string>
				<string>pci14e4,4386</string>
				<string>pci14e4,4387</string>
				<string>pci14e4,4388</string>
				<string>pci14e4,4389</string>
				<string>pci14e4,4390</string>
				<string>pci14e4,4391</string>
				<string>pci14e4,4392</string>
				<string>pci14e4,4393</string>
				<string>pci14e4,4394</string>
				<string>pci14e4,4395</string>
				<string>pci14e4,4396</string>
				<string>pci14e4,4397</string>
				<string>pci14e4,4398</string>
				<string>pci14e4,4399</string>
				<string>pci14e4,432b</string>
				<string>pci14e4,432c</string>
				<string>pci14e4,432d</string>
				<string>pci14e4,4342</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IO80211Family</key>
		<string>300.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.6.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
