<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDAPlatformDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>1.6.2a37, Copyright Apple Inc. 2005-2008</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDAPlatformDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HDA Platform Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.6.2a37</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Platform Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAPlatformDriver</string>
			<key>IOClass</key>
			<string>AppleHDAPlatformDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAPlatformDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAPlatformDriverLoader</string>
			<key>Layouts</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>10</integer>
					<key>PathMapRef</key>
					<array>
						<dict>
							<key>CodecID</key>
							<array>
								<integer>299112836</integer>
							</array>
							<key>ExtMic</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>0</integer>
							</dict>
							<key>Headphone</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>0</integer>
							</dict>
							<key>Inputs</key>
							<array>
								<string>Mic</string>
								<string>ExtMic</string>
							</array>
							<key>IntSpeaker</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>100</integer>
								<key>AmpPreDelay</key>
								<integer>50</integer>
								<key>MaximumBootBeepValue</key>
								<integer>119</integer>
								<key>MuteGPIO</key>
								<integer>0</integer>
							</dict>
							<key>Mic</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>0</integer>
							</dict>
							<key>Outputs</key>
							<array>
								<string>IntSpeaker</string>
								<string>Headphone</string>
							</array>
							<key>PathMapID</key>
							<integer>7</integer>
						</dict>
					</array>
				</dict>
			</array>
			<key>PathMaps</key>
			<array>
				<dict>
					<key>PathMap</key>
					<array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>9</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>13</integer>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>1</integer>
										<key>NodeID</key>
										<integer>21</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>8</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>12</integer>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>1</integer>
										<key>NodeID</key>
										<integer>20</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>18</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>10</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<false/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>4</integer>
									</dict>
								</array>
							</array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>17</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>7</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>34</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<false/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>3</integer>
									</dict>
								</array>
							</array>
						</array>
					</array>
					<key>PathMapID</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
