<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPS2Trackpad</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.0, Copyright Apple Computer, Inc. 2002-2003, Copyright mackerintel 2008</string>
	<key>CFBundleIdentifier</key>
	<string>org.voodoo.driver.PS2Trackpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Voodoo PS/2 Trackpad</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Synaptics TouchPad</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.voodoo.driver.PS2Trackpad</string>
			<key>Configuration</key>
			<dict>
				<key>BottomEdge</key>
				<integer>1700</integer>
				<key>CenterX</key>
				<integer>3000</integer>
				<key>CenterY</key>
				<integer>3000</integer>
				<key>CircularScrollDivisor</key>
				<integer>0</integer>
				<key>CircularScrollTrigger</key>
				<integer>0</integer>
				<key>Divisor</key>
				<integer>23</integer>
				<key>FingerZ</key>
				<integer>30</integer>
				<key>HorizontalScrollDivisor</key>
				<integer>30</integer>
				<key>LeftEdge</key>
				<integer>1700</integer>
				<key>MaxTapTime</key>
				<integer>100000000</integer>
				<key>MultiFingerHorizontalDivisor</key>
				<integer>30</integer>
				<key>MultiFingerVerticalDivisor</key>
				<integer>25</integer>
				<key>MultiFingerWLimit</key>
				<integer>9</integer>
				<key>RightEdge</key>
				<integer>5200</integer>
				<key>StabilizeTapping</key>
				<true/>
				<key>StickyHorizontalScrolling</key>
				<false/>
				<key>StickyMultiFingerScrolling</key>
				<true/>
				<key>StickyVerticalScrolling</key>
				<false/>
				<key>TopEdge</key>
				<integer>4200</integer>
				<key>UseHighRate</key>
				<true/>
				<key>VerticalScrollDivisor</key>
				<integer>30</integer>
			</dict>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>IOClass</key>
			<string>ApplePS2SynapticsTouchPad</string>
			<key>IOProbeScore</key>
			<integer>5500</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>ProductID</key>
			<integer>547</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Sentelic FSP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.voodoo.driver.PS2Trackpad</string>
			<key>IOClass</key>
			<string>ApplePS2SentelicFSP</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
		</dict>
		<key>ALPS GlidePoint</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.voodoo.driver.PS2Trackpad</string>
			<key>Configuration</key>
			<dict>
				<key>DoubleClkSpeed</key>
				<string>8</string>
				<key>Tapping</key>
				<string>1</string>
				<key>TapSetting</key>
				<string>11</string>
				<key>Controls</key>
				<string>3</string>
				<key>Swap</key>
				<string>0</string>
				<key>M_Assign</key>
				<string>3</string>
				<key>Acceleration</key>
				<string>4</string>
				<key>HorizSensitivity</key>
				<string>32</string>
				<key>VertSensitivity</key>
				<string>32</string>
				<key>Rotation</key>
				<string>0</string>
				<key>EasyScroll</key>
				<string>2056781844</string>
				<key>AutoTime</key>
				<string>500</string>
				<key>LockAreaSet</key>
				<string>1</string>
				<key>XOffset</key>
				<string>95</string>
				<key>YOffset</key>
				<string>65</string>
				<key>XResolution</key>
				<string>1280</string>
				<key>YResolution</key>
				<string>800</string>
				<key>EasyX</key>
				<string>0</string>
				<key>CornerTapOffsetX</key>
				<string>75</string>
				<key>CornerTapOffsetY</key>
				<string>75</string>
				<key>EnableWheel</key>
				<string>3</string>
				<key>RightBtnEmulation</key>
				<string>0</string>
				<key>ButtonFunction</key>
				<string>5563648</string>
				<key>LR_Timelag</key>
				<string>0</string>
				<key>LR_Timelag_Cond</key>
				<string>1</string>
				<key>TapTyping</key>
				<string>1</string>
				<key>TapTypingDelay</key>
				<string>2</string>
				<key>AutoRelease</key>
				<string>1</string>
				<key>EnableFB</key>
				<string>0</string>
				<key>SelectDevice</key>
				<string>63</string>
				<key>SPTapping</key>
				<string>1</string>
				<key>SPTapTyping</key>
				<string>1</string>
				<key>SPTapTypingDelay</key>
				<string>2</string>
				<key>SPTapSettings</key>
				<string>1</string>
				<key>SPFunction</key>
				<string>5547264</string>
				<key>SPScroll</key>
				<string>2</string>
				<key>ScrollCancelThreshold_X</key>
				<string>5</string>
				<key>ScrollCancelThreshold_Y</key>
				<string>5</string>
				<key>ScrollCancelAngle_X</key>
				<string>13</string>
				<key>ScrollCancelAngle_Y</key>
				<string>13</string>
				<key>ScrollDecideThreshold_X</key>
				<string>35</string>
				<key>ScrollDecideThreshold_Y</key>
				<string>35</string>
				<key>PM_Resume</key>
				<string>0</string>
				<key>UseIMECap</key>
				<string>0</string>
				<key>OldSetPostMsgInfo</key>
				<string>1</string>
				<key>EnableAreaSwitch</key>
				<string>1</string>
				<key>EnableTouchSensitivity</key>
				<string>1</string>
				<key>ZThresholdMode</key>
				<string>3</string>
				<key>EnableRawMode</key>
				<string>1</string>
				<key>RecoveryBIODP_Enable</key>
				<string>1</string>
				<key>SP_Raw_Usability</key>
				<string>01 00 02 00 01 00</string>
				<key>SP_ReviseBallisticCurve_Enable</key>
				<string>1</string>
				<key>SP_ReviseBallisticCurve_Pram_1</key>
				<string>117440632</string>
				<key>SP_ReviseBallisticCurve_Pram_2</key>
				<string>318767137</string>
				<key>SP_ReviseBallisticCurve_Pram_3</key>
				<string>-16777183</string>
				<key>SP_BrakeCursor_Enable</key>
				<string>1</string>
				<key>SP_BrakeCursor_DeltaTime</key>
				<string>32</string>
				<key>SP_BrakeCursor_Buffer_N</key>
				<string>3</string>
				<key>SP_BrakeCursor_Threshold_Min</key>
				<string>3</string>
				<key>SP_BrakeCursor_Threshold_Max</key>
				<string>32</string>
				<key>SP_BrakeCursor_Percent</key>
				<string>13</string>
				<key>SP_NoSpeedAccThreshold</key>
				<string>1</string>
				<key>DataModeSwitchTime</key>
				<string>100</string>
				<key>GP_Raw_CountToLeave</key>
				<string>1</string>
				<key>SP_Raw_AccCurve_Type</key>
				<string>0</string>
				<key>SP_Raw_ReviseCurve_Enable</key>
				<string>1</string>
				<key>SP_Raw_ReviseCurve_Param_1</key>
				<string>17</string>
				<key>SP_Raw_ReviseCurve_Param_2</key>
				<string>500</string>
				<key>SP_Raw_EnableButtonOR</key>
				<string>1</string>
				<key>SP_Raw_ReviseLinear_Type</key>
				<string>1</string>
				<key>SP_Raw_ReviseLinear_AppSpeed</key>
				<string>10</string>
				<key>SP_Raw_BrakeStrength</key>
				<string>100</string>
				<key>SP_Raw_BrakeFactor_MinSpeed</key>
				<string>25</string>
				<key>SP_Raw_BrakeFactor_AppSpeed</key>
				<string>18</string>
				<key>CheckButtonAfterLeave</key>
				<string>335549440</string>
				<key>SendCmdBeforeReset</key>
				<string>1</string>
				<key>WatchDog_Flag</key>
				<string>1</string>
				<key>WatchDog_Timeout</key>
				<string>5000</string>
				<key>ChangeAccelCurve_Enable</key>
				<string>1</string>
				<key>SendCmdWhenSelectDevice</key>
				<string>1</string>
				<key>ISDR_Enable</key>
				<string>1</string>
				<key>ResendCmdSet</key>
				<string>1</string>
				<key>TouchSensitivity</key>
				<string>9</string>
				<key>EnablePadScrollHV</key>
				<string>3</string>
				<key>SP_PressSelect</key>
				<string>0</string>
				<key>GP_ScrollThreshold_V</key>
				<string>50</string>
				<key>GP_ScrollThreshold_H</key>
				<string>50</string>
				<key>OfficeScrollSrc</key>
				<string>1</string>
				<key>UseVariableAccTable</key>
				<string>1</string>
				<key>i8042_WatchDog_Flag</key>
				<string>0</string>
				<key>DisablePadOperation</key>
				<string>0</string>
				<key>CursorSpeedScale_Enable</key>
				<string>1</string>
				<key>PegasusMonitorModeFlags</key>
				<string>9</string>
				<key>InhibitResetForDS5</key>
				<string>1</string>
				<key>UseMercuryRawAcc</key>
				<string>1</string>
				<key>ZAdjust_Enable</key>
				<string>1</string>
				<key>ZAdjust_Area</key>
				<string>168</string>
				<key>ZAdjust_ZThresh</key>
				<string>30</string>
				<key>ZAdjust_Value</key>
				<string>15</string>
				<key>DriverFunctionFlag</key>
				<string>1</string>
				<key>RemoveLockProcess</key>
				<string>1</string>
				<key>MT_Pan_enable</key>
				<string>0</string>
				<key>MT_Pinch_enable</key>
				<string>0</string>
				<key>MT_Twist_enable</key>
				<string>0</string>
				<key>MT_Cover_enable</key>
				<string>0</string>
				<key>MT_Flick_enable</key>
				<string>0</string>
				<key>MT_Palm_enable</key>
				<string>0</string>
				<key>MaxDistanceForDrag</key>
				<string>180</string>
				<key>CursorSpeedScale_GP</key>
				<string>150</string>
				<key>MT_CirqueLogicEnable</key>
				<string>1</string>
				<key>PinnacleAG_X_wide_thresh</key>
				<string>9043971</string>
				<key>PinnacleAG_Z_thresh_cnst</key>
				<string>9044006</string>
				<key>PinnacleInitCalibEnable</key>
				<string>1</string>
				<key>RecalIdleTimeout</key>
				<string>3000</string>
				<key>RawModeFilterLevel</key>
				<string>-695020</string>
				<key>TapReenableDist</key>
				<string>10485920</string>
				<key>PinnacleAG_enable_filter</key>
				<string>0</string>
				<key>PinnacleAG_source_priority</key>
				<string>0</string>
				<key>NumberOfRetrySPInit</key>
				<string>5</string>
				<key>ReInitForInvalidDataErr</key>
				<string>1</string>
				<key>DisableTouchPad_Type</key>
				<string>1</string>
				<key>ExtendedLogicFlag</key>
				<string>0</string>
				<key>ForceClearTpStsEnable</key>
				<string>1</string>
				<key>InhibitBtnTap_Setting</key>
				<string>32</string>
			</dict>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>IOClass</key>
			<string>ApplePS2ALPSGlidePoint</string>
			<key>IOProbeScore</key>
			<integer>1500</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>ProductID</key>
			<integer>547</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
