<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>10/12/2012</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>IM131.88Z.010A.B05.1210121459</string>
	<key>SMboardproduct</key>
	<string>Mac-FC02E91DDD3FA6A4</string>
	<key>SMfamily</key>
	<string>iMac</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMproductname</key>
	<string>iMac13,2</string>
	<key>SMserial</key>
	<string>C02L43WXDNMP</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
